<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- Okta Sign in Widget -->
<link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.6.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet">
<link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.6.0/css/okta-theme.css" type="text/css" rel="stylesheet">

<div class="AppBody">
  <div class="Wrap">
    <h1 class="AppLogo--stacked"></h1>
    <form id="LoginForm"><%= hidden_field_tag :authenticity_token, form_authenticity_token, id: :form_token %>
      <div id="okta-login-container"></div>
      <div class="FormField--submit">
        <p>
          <button class="Button--large Button--white" id="redirect">Sign in with Okta</button>
        </p>
        </br>
        <p>
          <button class="Button--large Button--white" id="widget">Sign in with Widget</button>
        </p>
        </br>
        <p>
          <button class="Button--large Button--white" id="linkedin" style="width:100%;">Sign in with LinkedIn </button>
        </p>
        </br>
        <ul>
          <li><a href="#" id="help">Need Help?</a></li>
        </ul>
        
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {


    // Initialize
    var authClient = new OktaAuth(<%= raw @config.to_json %>);

    $('#redirect').click(function(event) {
      event.preventDefault();
      // Create AuthJS Request
      authClient.token.getWithRedirect(
      {
        'responseType' : 'code',
        'scopes' : "<%= @config[:scope] %>".split(" ")
      });
    });

    $('#widget').click(function(event) {
      // Hide elements for widget
      document.getElementById('widget').style.visibility = "hidden";
      document.getElementById('redirect').style.visibility = "hidden";
      document.getElementById('linkedin').style.visibility = "hidden";
      document.getElementById('help').style.visibility = "hidden";

      // Init Sign in Widget
      var oktaSignIn = new OktaSignIn({
        baseUrl: "<%= @config[:url] %>",
        clientId: "<%= @config[:clientId] %>",
        redirectUri: "<%= @config[:redirectUri] %>",
        authParams: {
          responseType: "code",
          responseMode: "query",
          display: "page",
          scopes: "<%= @config[:scope] %>".split(" ")
        }
      });
      event.preventDefault();
    
      // Show the sign-in widget
      oktaSignIn.renderEl(
        { el: '#okta-login-container' },
        // Success callback (invoked on successful authentication)
        function (res) {
          // Code flow redirects to /callback
          console.log(res);
        },
        function (err) {
          console.error(err);
        }
      );
    });

    $('#linkedin').click(function(event) {
      event.preventDefault();
      // Create AuthJS Request
      authClient.token.getWithRedirect(
        {
          'responseType' : 'code',
          'idp' : '<%= @config[:idp] %>',
        }
      );
    }); 
  });
</script>

